<!TYPE html>
<html>
	<head>
		<link href = "../../style.css" rel = "stylesheet">
		<meta http-equiv = "Content-Type" content = "text/html"; charset = "UTF-8">
		<title>BBC</title>
		<script defer src = "../../script-item.js"></script>
	</head>
	
	<body class = "main-body">
		

		<!-- Для всей головы -->
		<div class = "header">

			<!-- Линия наверху -->
			<div class = "header-line"></div> 

			<!-- Мой блок для головы -->
			<div class = "myinline-block">		

				<!-- Кнопка навигации -->
				<div class = "navigation">
					<button data-modal-target = "#modal" id = "settings"></button>
					<div class = "modal" id = "modal">
						<div class = "modal-header">
							<div class = "title">Категории</div>
							<button data-close-button class = "close-button">&times;</button>
						</div>
						
						<% for (var category of categories) { %>
						<div class = "modal-body" onclick="window.location='/<%= category.CATEGORY_NAME %>';"><%= category.CATEGORY_NAME %></div>
						<% } %>

						
						
					</div>
					<div id = "overlay"></div>
				</div>

				<!-- Логотип -->
				<a href="../../"><img src = "../../images/logo.png" id = "logo"></img></a>

				<!-- Поисковик -->
				<div class="topnav">
					
					<div class="search-container">

						<form action = "/search_result" method="POST">

							<input name="search_item" type="text" placeholder="Search.." />
							<button type="submit"><i class="fa fa-search"></i></button>
						
						</form>
					</div>

					
				</div>

				
			</div>

			
		</div>

		<!-- Тело сайта -->
		<div class = "my-body">
            
            <div class = "my-item-page">
                
                <div id = "my-item-images-page">

                    <div id = "my-item-base-image-page">
                        <img id = "my-item-base-image" src="../../images/<%= images[0].IMAGE_NAME %>.jpg">
                    </div>
                    
                    
                    <div id = "my-item-second-images" >
                        <% for (var i = 0; i < images.length; i++) { %>
                            <img id = "my-second-image" onclick="myFunction(this);" src="../../images/<%= images[i].IMAGE_NAME %>.jpg">
                        <% } %>
                    </div>

                    
                </div>

                <div class = "my-item-description-page">
					<form id = "form-item">
					<div id = "my-item-description-page-inside">

						<h1><%= items[0].ITEM_NAME %></h1>
						<div id = "item-articul">Articul: <%= items[0].ARTICUL %></div>
						
						<div id = "tab-border">
							Size:
						</div>
						
						<div class="tab">
							<% for (var i = 0; i < sizes.length; i++) { %>
							<div class="tablinks" onclick="pick(event)"><%= sizes[i].ITEM_SIZE %></div>
							<% } %>
						</div>

						<div id = "tab-border">
							Color:
						</div>

						<div class="tab2">
							<% for (var i = 0; i < colors.length; i++) { %>
								<div class="tablinks2" onclick="pick2(event)"><%= colors[i].ITEM_COLOR %></div>
							<% } %>
						</div>
						
						<div id = "price">
							<%= items[0].ITEM_PRICE %> tg.
						</div>

						<button type="submit" class="buy-button">Buy</button>	
					</div>
					</form>

					<div id = "my-item-description">
						Description:<%= items[0].ITEM_DESCRIPTION %>
					</div>
                </div>

            </div>

        </div>
        
	</body>
</html>

