<!TYPE html>
<html>

    <head>
		<link href = "../style.css" rel = "stylesheet">
		<meta http-equiv = "Content-Type" content = "text/html"; charset = "UTF-8">
		<title>BBC</title>
		<script defer src = "../script-by-category.js"></script>
	</head>
	
	<body class = "main-body">
		

		<!-- Для всей головы -->
		<div class = "header">

			<!-- Линия наверху -->
			<div class = "header-line"></div> 

			<!-- Мой блок для головы -->
			<div class = "myinline-block">		

				<!-- Кнопка навигации -->
				<div class = "navigation">
					<button data-modal-target = "#modal" id = "settings"></button>
					<div class = "modal" id = "modal">
						<div class = "modal-header">
							<div class = "title">Категории</div>
							<button data-close-button class = "close-button">&times;</button>
						</div>
						<div class = "modal-body" onclick="window.location='/create_item';">
							Добавить предмет
						</div>
						
						<% for (var category of categories) { %>
						<div class = "modal-body" onclick="window.location='/<%= category.CATEGORY_NAME %>';"><%= category.CATEGORY_NAME %></div>
						<% } %>
						
						
					</div>
					<div id = "overlay"></div>
				</div>

				<!-- Логотип -->
				<a href="../"><img src = "../images/logo.png" id = "logo"></img></a>

				
				<!-- Поисковик -->
				<div class="topnav">
					
					<div class="search-container">

						<form action = "/search_result" method="POST">

							<input name="search_item" type="text" placeholder="Search.." />
							<button type="submit"><i class="fa fa-search"></i></button>
						
						</form>
					</div>

					
				</div>
				
			</div>

			
		</div>

		<!-- Тело сайта -->
		<div class = "my-body">
			<h2><%= message %></h2>
            
            <div class = "for-items">

                <% for (var item of items) { %>
                    <div class ="my-item">

                        <div id = "item-padding">

                            <% for (var image of images) { %>
                                <% if (image.ITEM_ARTICUL == item.ARTICUL) { %>
                                    <img id = "item-image" onclick="window.location='/<%= item.CATEGORY_NAME %>/<%= item.ARTICUL %>';" src="../images/<%= image.IMAGE_NAME %>.jpg">   
                                    <% break %> 
                                <% } %>    
                            <% } %>
                            <div id = "item-description"><%= item.ITEM_NAME %></div>
                            <div id = "item-description">
                                <div id = "item-price">
                                    <%= item.ITEM_PRICE %> tg.
                                </div>
                            </div>
                            <div id = "item-description">Producer:<%= item.PRODUCER_NAME %></div>
                        
                        </div>

                    </div>

                <% } %>

            </div>
		</div>
	</body>

</html>

